<!-- <h2> Notes </h2>
<a href="/logout">Logout</a> -->

<style>
#space {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F7FDF5;
}

#template-note {
  display: none;
}

.note {
  border: grey;
  background: #CBD8F7;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
}

.note textarea {
  background: rgba(0,0,0,0.05);
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
  border: none;
  resize: none;
}

.colors {
  position: absolute;
  height: 17px;
  bottom: 0;
  left: 3px;
  right: 30px;
}

.sq-blue, .sq-red, .sq-yellow {
  display: inline-block;
  content: ' ';
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.sq-blue {
  background: #CBD8F7;
}

.sq-red {
  background: #F7CBCB;
}

.sq-yellow {
  background: #F7F3CB;
}
.resize {
  width: 13px;
  height: 13px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.triangle {
	width: 0;
	height: 0;
	border-bottom: 10px solid rgba(0,0,0,0.1);
	border-left: 10px solid transparent;
}
</style>


<div id='space' onclick="addNote(event)">
  <div id='template-note' class='note' onmousedown="handleMouseDown(event)" onmousemove="handleMouseMove(event)" onmouseup="handleMouseUp(event)" onmouseleave="handleMouseUp(event)">
    <div class='close' onclick="deleteNote(event)" onmousedown="event.stopPropagation()" onmouseup="event.stopPropagation()">x</div>
    <textarea oninput='handleTextChange(event)'></textarea>
    <div class='colors'>
      <div class='sq-blue' onclick="changeColor(event, 'blue', true)"></div>
      <div class='sq-red' onclick="changeColor(event, 'red', true)"></div>
      <div class='sq-yellow' onclick="changeColor(event, 'yellow', true)"></div>
    </div>
    <div class='resize' onmousedown="handleMouseDownR(event)" onmousemove="handleMouseMoveR(event)" onmouseup="handleMouseUpR(event)" onmouseleave="handleMouseUpR(event)">
      <div class='triangle'></div>
      <div class='triangle-border'></div>
    </div>
  </div>
</div>


<script>

var notes = [
  {% for note in all_notes %}
  { id: {{note.id}}, color: '{{note.color}}', coord_x: {{note.coord_x}}, coord_y: {{note.coord_y}}, width: {{note.width}}, height: {{note.height}}, text: '{{note.text}}'   },
  {% endfor %}
];

notes.forEach(function(note) {
  var templateNote = document.getElementById('template-note');
  var newNote = templateNote.cloneNode(true);
  newNote.id = '';
  newNote.style.top = note.coord_y;
  newNote.style.left = note.coord_x;
  newNote.style.width = note.width;
  newNote.style.height = note.height;
  newNote.dataset.id = note.id;
  newNote.getElementsByTagName('textarea')[0].innerHTML = note.text;
  changeColor({ target: newNote }, note.color, false);
  document.getElementById('space').appendChild(newNote);
});


function addNote(event) {
  if (event.target.id == 'space') {
    var data = {
      coord_x: event.clientX,
      coord_y: event.clientY,
      height: 100,
      width: 100,
      color: 'blue',
      text: '',
    };
    fetch('/notes', {
      method: 'POST',
      body: JSON.stringify(data),
      credentials: 'include',
    })
    .then(function(response) { return response.text() })
    .then(function(id) {
      var templateNote = document.getElementById('template-note');
      var newNote = templateNote.cloneNode(true);
      newNote.id = '';
      newNote.dataset.id = id;
      newNote.style.top = data.coord_y;
      newNote.style.left = data.coord_x;
      newNote.style.width = data.width;
      newNote.style.height = data.height;
      changeColor({ target: newNote }, data.color, false);
      event.target.appendChild(newNote);
    });
  }
}

function findNote(event) {
  if (event.target.classList.contains('note')) {
    return event.target;
  } else if (event.target.parentElement.classList.contains('note')) {
    return event.target.parentElement;
  } else if (event.target.parentElement.parentElement.classList.contains('note')) {
    return event.target.parentElement.parentElement;
  }
}

function deleteNote(event) {
  var note = findNote(event);
  var url = '/notes/' + note.dataset.id;
  note.remove();
  fetch(url, {
    method: 'DELETE',
  });
}

function saveChanges(event) {
  var element = findNote(event);
  var id = element.dataset.id;
  var coord_x = parseFloat(element.style.left);
  var coord_y = parseFloat(element.style.top);
  var height = parseFloat(element.style.height);
  var width = parseFloat(element.style.width);
  var color = getColor(element);
  var text = element.getElementsByTagName('textarea')[0].value;

  var url = '/notes/' + id.toString();
  var data = {
    coord_x: coord_x,
    coord_y: coord_y,
    height: height,
    width: width,
    color: color,
    text: text,
  };
  fetch(url, {
    method: 'POST',
    body: JSON.stringify(data),
  })

}

var isDown = false;
var posLeft = 0;
var posTop = 0;

function handleMouseDown(event) {
  isDown = true;
  var element = findNote(event);
  posLeft = event.clientX - parseFloat(element.style.left || 0);
  posTop = event.clientY - parseFloat(element.style.top || 0);
}

function handleMouseMove(event) {
  if (isDown){
    var element = findNote(event);
    element.style.top = event.clientY - posTop;
    element.style.left = event.clientX - posLeft;
  }
}

function handleMouseUp(event) {
  if (isDown) {
    isDown = false;
    posLeft = 0;
    posTop = 0;
    saveChanges(event);
  }
}

var isDownR = false;
var posLeftR = 0;
var posTopR = 0;

function handleMouseDownR(event) {
  isDownR = true;
  var element = findNote(event);
  posLeftR = event.clientX - parseFloat(element.style.left || 0) - parseFloat(getComputedStyle(element).width || 0);
  posTopR = event.clientY - parseFloat(element.style.top || 0) - parseFloat(getComputedStyle(element).height || 0);

  event.stopPropagation();
}

function handleMouseMoveR(event) {
  if (isDownR){
    var element = findNote(event);
    element.style.height = event.clientY - parseFloat(element.style.top || 0) - posLeftR;
    element.style.width = event.clientX - parseFloat(element.style.left || 0) - posTopR;
  }
}

function handleMouseUpR(event) {
  if (isDownR) {
    isDownR = false;
    posLeftR = 0;
    posTopR = 0;
    saveChanges(event);
  }
}

function handleTextChange(event) {
  saveChanges(event);
}

function changeColor(event, color, shouldSave) {
  var element = findNote(event);
  if (color == 'blue'){
    element.style.backgroundColor = '#CBD8F7';
  }
  if (color == 'red'){
    element.style.backgroundColor = '#F7CBCB';
  }
  if (color == 'yellow'){
    element.style.backgroundColor = '#F7F3CB';
  }
  if (shouldSave) {
    saveChanges(event);
  }
}

function getColor (element) {
  if (element.style.backgroundColor == 'rgb(203, 216, 247)') {
    return 'blue'
  }
  if (element.style.backgroundColor == 'rgb(247, 203, 203)') {
    return 'red'
  }
  if (element.style.backgroundColor == 'rgb(247, 243, 203)') {
    return 'yellow'
  }
}


</script>
